body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    margin-bottom: 2rem;
    border-bottom: 1px solid #999;
    display: flex;
}

header a {
    color: black;
    text-decoration: none;
    padding: 15px;
    background-color: green;
    margin-right: 10px;
    border-radius: 10px;
}